<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input:invalid:required {
            background-image: linear-gradient(to right, pink, lightgreen);
        }
    </style>

    <script>
        function flush(id) {
            document.getElementById(id).value = ""
            document.getElementById("watch_res").innerHTML = ""
        }

        function resEcho() {
            const inputRes = document.getElementById("tech_resources").value

            if (inputRes !== "") {
                const res = JSON.parse(inputRes)
                const watcher = document.getElementById("watch_res")
                watcher.innerHTML = ""
                for (let i = 0; i < res.length; i++) {
                    const row = document.createElement("tr")
                    if (i % 2 === 0)
                        row.classList.add("table-info")
                    else
                        row.classList.add("table-danger")

                    const name = document.createElement("td")
                    name.textContent = res[i].medicineName
                    const amount = document.createElement("td")
                    amount.textContent = res[i].amount
                    const price = document.createElement("td")
                    price.textContent = res[i].price
                    const status = document.createElement("td")
                    status.textContent = res[i].status
                    row.appendChild(name)
                    row.appendChild(amount)
                    row.appendChild(price)
                    row.appendChild(status)

                    watcher.appendChild(row)
                }
            }
        }

        function acceptChanges(id) {
            const expiration = document.getElementById(id)
            let elements = document.getElementsByClassName(id)
            let text = ""

            for (let i = 0; i < elements.length; i++) {
                console.log("text = " + text)
                if (elements[i].value === '')
                    text += 0
                else
                    text += elements[i].value

                if (i !== elements.length - 1)
                    text += '.'
            }

            expiration.value = text
        }

        function addIngredient() {
            let amount = document.getElementById("amount")
            let price = document.getElementById("price")

            if (amount.value !== 0 && price.value !== 0) {
                let selector = document.getElementById("res_selected")
                let optionId = selector.options[selector.selectedIndex].value
                let optionName = selector.options[selector.selectedIndex].text
                console.log("option = " + optionId + ' ' + optionName)

                let stat = document.getElementById("med_stat")
                let statText = stat.options[stat.selectedIndex].value

                const newRes = {
                    medicineId: optionId,
                    medicineName: optionName,
                    amount: amount.value,
                    price: price.value,
                    status: statText
                }
                console.log("newRes = " + JSON.stringify(newRes))

                const inputRes = document.getElementById("tech_resources")
                let text = ""
                //JSON.parse(inputRes.value)
                if (inputRes.value === "")
                    text = [newRes]
                else {
                    text = JSON.parse(inputRes.value)
                    let isIn = false
                    for (const item of text) {
                        if (item.medicineId === newRes.medicineId)
                            isIn = true
                    }
                    if (!isIn)
                        text.push(newRes)
                }

                inputRes.value = JSON.stringify(text)
            }

            resEcho()
        }

        function dateCheck() {
            const start = document.getElementById('datePicking').value;

            if (start === '') {
                alert('Shipping date must be greater than order date');
                document.getElementById("finish").disabled = true
            } else
                document.getElementById("finish").disabled = false
        }
    </script>

    <meta charset="UTF-8">
    <title th:text="'Order ' + ${order.id}"></title>
</head>
<body class="modal-dialog modal-context modal-header card">
<div class="jumbotron card-header">
    <p class="display-3">Order</p>
</div>

<div class="form-group card-body">
    <form class="form-horizontal card-text" th:method="PUT" th:action="@{/order/save(id=${order.id})}"
          th:object="${order}">
        <div class="form-group">
            <label class="control-label" for="id_field">Id</label>
            <div>
                <input type="text" required class="form-control" id="id_field" th:value="${order.id}"
                       th:field="*{id}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="clientSelector">Client</label>
            <div>
                <div class="modal-body">
                    <select th:field="*{clientId}" id="clientSelector" class="form-select">
                        <option
                                th:each="client : ${clients}" class="res_select" th:value="${client.id}"
                                th:text="${client.lastName}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="datePicking">datePicking</label>
            <div>
                <input onchange="dateCheck()" id="datePicking" type="date" th:field="*{datePicking}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="statusSelector">Status</label>
            <div>
                <div class="modal-body">
                    <select th:field="*{status}" id="statusSelector" class="form-select form-select-sm">
                        <option th:each="status : ${statuses}" class="res_select" th:value="${status}"
                                th:text="${status}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="modal" id="ingredientsModal" tabindex="-1" role="dialog"
             aria-labelledby="ingredientsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ingredientsModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" >
                        <label for="res_selected">Select medicine</label>
                        <select id="res_selected" class="form-select form-select-sm">
                            <option th:each="resource : ${meds}" class="res_select" th:value="${resource.id}" th:text="${resource.name}"></option>
                        </select>
                        <label for="amount">Count</label>
                        <input type="text" class="form-control" id="amount">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price">
                        <label for="med_stat">Select status</label>
                        <select id="med_stat" class="form-select form-select-sm">
                            <option th:each="stat : ${stats}" class="res_select" th:value="${stat}" th:text="${stat}"></option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="addIngredient()">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <label class="control-label" for="tech_resources">List of needed medicines</label>
        <div>
            <input hidden type="text" class="form-control" id="tech_resources"
                   th:field="*{medicines}">
            <table id="" class="table">
                <thead>
                    <tr>
                        <th>Medicine name</th>
                        <th>Medicine count</th>
                        <th>Medicine price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="watch_res">

                </tbody>
            </table>
            <script>resEcho()</script>
            <button class="btn btn-warning" type="button" id="flush_res" onclick="flush('tech_resources')">
                Flush
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientsModal">
                Add resource
            </button>
        </div>

        <button onclick="dateCheck()" id="finish" type="submit" class="btn btn-success">Edit</button>
    </form>
</div>
<script>dateCheck()</script>

</body>
</html>