<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input:invalid:required {
            background-image: linear-gradient(to right, pink, lightgreen);
        }
    </style>

    <script>
        function flush(id) {
            document.getElementById(id).value = ""
            document.getElementById("watch_res").innerHTML = ""
        }

        function echo(id) {
            const expiration = document.getElementById(id).value.split('.')
            const titles = document.getElementsByClassName(id)
            console.log(`data = ${expiration}`)

            for (let i = 0; i < titles.length && i < expiration.length; i++) {
                titles[i].value = expiration[i]
            }
        }

        function resEcho() {
            const inputRes = document.getElementById("tech_resources").value

            if (inputRes !== "") {
                const res = JSON.parse(inputRes)
                const watcher = document.getElementById("watch_res")
                watcher.innerHTML = ""
                for (let i = 0; i < res.length; i++) {
                    const item = document.createElement("li")
                    item.classList.add("list-group-item")
                    if (i % 3 === 1)
                        item.classList.add("list-group-item-info")
                    else if (i % 3 === 2)
                        item.classList.add("list-group-item-danger")

                    item.textContent = `${res[i].resource.name} : ${res[i].count}`
                    console.log(item.textContent)

                    watcher.appendChild(item)
                }
            }
        }

        function acceptChanges(id) {
            const expiration = document.getElementById(id)
            let elements = document.getElementsByClassName(id)
            let text = ""

            for (let i = 0; i < elements.length; i++) {
                console.log("text = " + text)
                if (elements[i].value === '')
                    text += 0
                else
                    text += elements[i].value

                if (i !== elements.length - 1)
                    text += '.'
            }

            expiration.value = text
        }

        function accept() {
            acceptChanges("expiration")
            acceptChanges("prepare")
        }

        function addIngredient() {
            let amount = document.getElementById("res_count")

            if (amount.value !== 0) {
                let selector = document.getElementById("res_selected")
                let optionId = selector.options[selector.selectedIndex].value
                let optionName = selector.options[selector.selectedIndex].text
                console.log("option = " + optionId + ' ' + optionName)

                const newRes = {
                    resource: {
                        id: optionId,
                        name: optionName
                    },
                    count: amount.value
                }
                console.log("newRes = " + JSON.stringify(newRes))

                const inputRes = document.getElementById("tech_resources")
                let text = ""
                if (inputRes.value === "")
                    text = [newRes]
                else {
                    text = JSON.parse(inputRes.value)
                    for (const t of text) {
                        if (t.resource.id === newRes.resource.id)
                            t.count = newRes.count
                    }
                    text.push(newRes)
                }
                inputRes.value = JSON.stringify(text)

                resEcho()
            }
        }
    </script>

    <meta charset="UTF-8">
    <title th:text="'Med ' + ${medicine.name}"></title>
</head>
<body class="modal-dialog modal-context modal-header card">
<div class="jumbotron card-header">
    <h2 class="display-3" th:text="'Med ' + ${medicine.name}">medicine name</h2>
</div>

<div class="form-group card-body">
    <form class="form-horizontal card-text" th:method="PUT" th:action="@{/medicine/save(id=${medicine.id})}"
          th:object="${medicine}">
        <div class="form-group">
            <label class="control-label" for="id_field">Id</label>
            <div>
                <input type="text" required class="form-control" id="id_field" th:value="${medicine.id}"
                       th:field="*{id}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="last_name_field">Name</label>
            <div>
                <input type="text" required class="form-control" id="last_name_field" th:value="${medicine.name}"
                       th:field="*{name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="first_name_field">Critical amount</label>
            <div>
                <input pattern="^[1-9][0-9]*$" title="number format" type="text" required class="form-control"
                       id="first_name_field"
                       th:value="${medicine.criticalAmount}" th:field="*{criticalAmount}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="typeSelector">Type Name</label>
            <div>
                <div class="modal-body">
                    <select th:field="*{typeId}" id="typeSelector" class="form-select form-select-sm">
                        <option th:each="type : ${types}" class="res_select" th:value="${type.id}"
                                th:text="${type.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="price">Price</label>
            <div>
                <input pattern="^-?([0-9]*\.[0-9]+|[0-9]+)$" title="number format" type="text" required
                       class="form-control" id="price" th:value="${medicine.price}"
                       th:field="*{price}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="expiration">Expiration time
                (years.months.days.hours.minutes.seconds)</label>
            <div hidden>
                <input th:value="'0.0.0.0.0.0'" pattern="^([0-9]+\.){5}[0-9]$" type="text" required class="form-control"
                       id="expiration"
                       th:field="*{expiration}">
            </div>
            <div class="modal-body" th:each="interval : ${intervals}">
                <label th:text="${interval.name}" th:id="'interval_label_' + ${interval.ordinal}"></label>
                <input type="text" class="expiration form-control" th:id="'interval_' + ${interval.ordinal}">
            </div>
            <script>echo("expiration")</script>
        </div>

        <div class="card-footer">
            <h4 class="card-subtitle">Technology</h4>
            <div class="form-group">
                <label class="control-label" for="tech_desc">Description (leave empty if you don't want to add any
                    tech)</label>
                <div>
                    <input type="text" class="form-control" id="tech_desc"
                           th:field="*{description}">
                </div>
            </div>
            <div class="form-group">

                <div class="form-group">
                    <label class="control-label" for="prepare">Preparation time
                        (years.months.days.hours.minutes.seconds)</label>
                    <div hidden>
                        <input th:value="'0.0.0.0.0.0'" pattern="^([0-9]+\.){5}[0-9]$" type="text" required
                               class="form-control" id="prepare"
                               th:field="*{prepareTime}">
                    </div>
                    <div class="modal-body" th:each="interval : ${intervals}">
                        <label th:text="${interval.name}" th:id="'interval_label_' + ${interval.ordinal}"></label>
                        <input type="text" class="prepare form-control" th:id="'interval_' + ${interval.ordinal}">
                    </div>
                    <script>echo("prepare")</script>
                </div>
            </div>
            <div class="form-group">

                <!-- Modal -->
                <div class="modal" id="ingredientsModal" tabindex="-1" role="dialog"
                     aria-labelledby="ingredientsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ingredientsModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <select id="res_selected">
                                    <option th:each="resource : ${resources}" class="res_select"
                                            th:value="${resource.id}" th:text="${resource.name}"></option>
                                </select>
                                <label>Count</label>
                                <input type="text" class="form-control" id="res_count">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        onclick="addIngredient()">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="control-label" for="tech_resources">List of needed ingredients</label>
                <div>
                    <input hidden type="text" class="form-control" id="tech_resources"
                           th:field="*{resources}">
                    <ul id="watch_res" class="list-group">
                    </ul>
                    <script>resEcho()</script>
                    <button class="btn btn-warning" type="button" id="flush_res" onclick="flush('tech_resources')">
                        Flush
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientsModal">
                        Add resource
                    </button>
                </div>
            </div>
        </div>

        <button onclick="accept()" type="submit" class="btn btn-success">Edit</button>
    </form>
</div>

</body>
</html>