<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .topnav {
            overflow: hidden;
        }

        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: black;
            color: #ddd;
        }
    </style>

    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body class=".modal-dialog .modal-content .modal-body">
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            Menu
        </button>

        <div class="collapse navbar-collapse topnav" id="navbarSupportedContent">
            <a class="nav-link" th:href="@{/}">Home</a>
        </div>
    </nav>
</div>

<div>
    <!--/*@thymesVar id="clients" type="java.util.List"*/-->
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody th:each="client: ${clients}" th:with="counter=1">
        <tr>
            <td th:text="${client.id}">Mark</td>
            <td th:text="${client.firstName}">Otto</td>
            <td th:text="${client.lastName}">Otto</td>
            <td th:text="${client.phone}"></td>
            <td>
                <form th:method="DELETE" th:action="@{/client/delete(id=${client.id})}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <a th:href="@{/client/byId(id=${client.id})}">
                    <button type="submit" class="btn btn-primary">View</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/client/create}">
        <button type="submit" class="btn btn-outline-info">Create new</button>
    </a>
</div>
</body>
</html>