<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input:invalid:required {
            background-image: linear-gradient(to right, pink, lightgreen);
        }
    </style>

    <script>
        function flush() {
            let selector = document.getElementById("medicineSelector")
            let optionId = selector.options[selector.selectedIndex].value
            let optionName = selector.options[selector.selectedIndex].text
            console.log("option = " + optionId + ' ' + optionName)
        }

        function dateCheck() {
            const start = document.getElementById('dateOrdered').value;
            const end = document.getElementById('dateShipped').value;

            if (end < start && end !== '' || start === '') {
                alert('Shipping date must be greater than order date');
                document.getElementById("finish").disabled = true
            } else
                document.getElementById("finish").disabled = false
        }
    </script>

    <meta charset="UTF-8">
    <title th:text="'Shipping № ' + ${medicineshipping.id}"></title>
</head>
<body class="modal-dialog modal-context modal-header card">
<div class="card-header">
    <p class="display-3" th:text="'Shipping №' + ${medicineshipping.id}"></p>
</div>

<div class="form-group card-body">
    <form class="form-horizontal card-text" th:method="PUT" th:action="@{/medicineshipping/save(id=${medicineshipping.id})}"
          th:object="${medicineshipping}">
        <div class="form-group">
            <label class="control-label" for="id_field">Id</label>
            <div>
                <input type="text" required class="form-control" id="id_field" th:value="${medicineshipping.id}"
                       th:field="*{id}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="first_name_field">Amount</label>
            <div>
                <input pattern="^[1-9][0-9]*$" title="number format" type="text" required class="form-control" id="first_name_field"
                       th:value="${medicineshipping.amount}" th:field="*{amount}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="medicineSelector">Medicine Name</label>
            <div>
                <div class="modal-body" >
                    <select th:field="*{medicineId}" id="medicineSelector" class="form-select">
                        <option th:each="medicine : ${medicines}" class="res_select" th:value="${medicine.id}" th:text="${medicine.name}"></option>
                    </select>
                </div>
            </div>

            <label class="control-label" for="statusSelector">Status</label>
            <div>
                <div class="modal-body" >
                    <select th:field="*{status}" id="statusSelector" class="form-select">
                        <option th:each="status : ${statuses}" class="res_select" th:value="${status}" th:text="${status}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="price">Price</label>
            <div>
                <input pattern="^-?([0-9]*\.[0-9]+|[0-9]+)$" title="number format" type="text" required class="form-control" id="price" th:value="${medicineshipping.price}"
                       th:field="*{price}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="dateOrdered">dateOrdered</label>
            <div>
                <input onchange="dateCheck()" id="dateOrdered" type="date" th:field="*{dateOrdered}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="dateShipped">dateShipped</label>
            <div>
                <input onchange="dateCheck()" id="dateShipped" type="date" th:field="*{dateShipped}">
            </div>
        </div>

        <button id="finish" type="submit" class="btn btn-success">Edit</button>
        <button onclick="flush()" type="button" class="btn btn-danger">echo</button>
    </form>
</div>

<script>dateCheck()</script>

</body>
</html>